@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #ccc;
    position: relative;
}

div[contenteditable] {
    margin: 0 15px 15px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div[contenteditable].is-invalid {
    border-color: #dc3545;
}

.wrapper {
    min-height: calc(100vh - 71px);
}

.nav-link:hover {
    cursor: pointer;
}

.badge {
    padding: 0.75em;
}

.modal-content {
    border-radius: 0;
}

.modal-header,
.modal-footer {
    border: 0;
}

.modal-body {
    padding: 0 15px;
}

.modal-body .row:not(:last-child) {
    margin-bottom: 15px;
}

.form-group {
    margin: 0;
}

.btn {
    width: 125px;
}

.form-error {
    color: #dc3545;
    text-align: center;
}

.add-task {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    right: 25px;
    bottom: 25px;
}

.sort {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sort__wrapper {
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.task {
    margin-bottom: 15px;
}

.task:first-child {
    margin-top: 15px;
}

.task__wrapper {
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.task__title {
    margin-bottom: 15px;
    font-weight: bold;
}

.task__email {
    color: #777;
    font-weight: normal;
}

.task__text {
    font-size: 15px;
    margin-bottom: 15px;
}

.task__status {
    font-size: 14px;
    color: #777;
}

.edit-button {
    position: absolute;
    right: 15px;
}

.edit-button:hover {
    cursor: pointer;
}


.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}